KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/gdt/gdt_asm.o \
$(ARCHDIR)/memman/pmm/pmm.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/intpt/pic/pic.o \
$(ARCHDIR)/intpt/idt/idt.o \
$(ARCHDIR)/intpt/idt/idt_asm.o \
$(ARCHDIR)/intpt/handlers/main.o \
$(ARCHDIR)/kearly.o \
$(ARCHDIR)/intpt/handlers/page_fault.o \
$(ARCHDIR)/intpt/handlers/gpf.o \
$(ARCHDIR)/intpt/handlers/double_fault.o \
$(ARCHDIR)/intpt/handlers/dvbz.o \
$(ARCHDIR)/intpt/handlers/inv_opcode.o \
$(ARCHDIR)/memman/vmm/vmm.o \
$(ARCHDIR)/memman/vmalloc/vmalloc.o